header, footer, section, nav, article {  
    display: block;  
}

body {
  padding-top: 5rem;
	margin: 0 auto;  
  width: 940px;
  font-family:Cambria;
  font-weight: 2;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
  background-size: device-width;
  background-color: peru;
  background-image: url('what.jpg');
}

h1 {
  color:rgba(0, 0, 0, 0.5);
  text-align: center;

}

h1.display-3 {
  color: rgba(255, 255, 255, 0.5);
}

div.jumbotron {
  background-color: rgba(255, 4, 121, 0.295);
}

h3 {
  color:rgba(0, 0, 0, 0.5);
  text-align: center;
}

header {
	margin: 5px auto;
  width: 500px;
  text-align: center;
  background-size: 940px;
  background-color:rgba(127, 255, 212, 0.26);
}

footer {
	margin: 5px auto;
  text-align: center;
  width: 800px;
  background-color:rgba(128, 0, 128, 0.377)
}

/* TODO: Add property:value pairs to set the width and height of the section element. Give it a background color. You may need to set it's top margin to create some space between the beginning of the main section and the end of the navigation bar. Look at the index.html to see what the section element creates on the page*/
section {
  width:800px;
  margin: 5px auto;
  margin-top:100px;
  background-color:#9c37379d;
}


/* This code styles your navigation bar. It works as is but feel free to change anything you'd like. Multiple tag selectors mean tags within tags.   */
nav {
	width: 100%;
	height: 50px;
	float: left;
	font-family: Geneva,Arial;
	border: 1px solid #000000;
	background-size: 100%;
  background-image: url('sovngarde.gif');
}

nav ul {
	margin: 0px auto;
	padding: 15px;
	list-style-type: none;
}
nav li {
	display: inline;

}

nav li a {
	float: left;
	text-align: center;
	border-right: 2px solid #00DBF0;
  width: 100px;  
  font-size: 14px; 
	padding: 0px 10px;
	color: rgba(0, 0, 0);
	text-decoration: none;
}

nav li a:hover {
	color: rgba(5, 49, 53, 0.61);
}



